body {
	background: #4BA034;
	/*background: linear-gradient(to bottom, #EEE, #4BA034); */
	background: url('bg.jpg');
	background-size: cover;
	background-attachment: fixed;
}

#page {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#header {
	width: 100%;
}

#header img {
	float:left;
}

#header p {
	float: left;
	margin-left: 5%;
	font-family: "Trebuchet MS";
	font-size: 1.25em;
	font-weight: bold;
	color: #000;
}

#menu {
	clear: both;
	float: right;
	margin-right: 15px;
}

#menu a {
	padding: 5px;
	margin-right: 10px;
	text-decoration: none;
	font-family: "Helvetica Neue";
	color: #000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: bold;
}

#menu .active {
	font-weight: bold;
	background-color: #FFF;	
	color: #4BA034;
	cursor: default;
}

#menu .active:hover {
	color: #4BA034;
}

#menu a:hover {
	color: #4BA034;
}

#nav {
	border-bottom: 1px #4BA034 solid;
	padding-bottom: 1%;
}

#main {
	clear: right;
	width: 90%;
	padding: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #FFF;
	border-radius: 15px;
}

#nav {
	font-size: 0.85em;
}

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
	color: #4BA034;
	font-family: "Helvetica Neue";
}

#footer {
	text-align: center;
	font-size: 0.8em;
	font-style: italic;
	color: #000;
	border-top: 1px #4BA034 solid;
}

